-- CreateEnum
CREATE TYPE "DayPeriod" AS ENUM ('MORNING', 'AFTERNOON', 'EVENING', 'NIGHT', 'MIDNIGHT');

-- CreateEnum
CREATE TYPE "EatenAmount" AS ENUM ('ALL', 'HALF', 'LITTLE', 'NONE');

-- CreateEnum
CREATE TYPE "MealType" AS ENUM ('BREAKFAST', 'LUNCH', 'DINNER', 'SNACK');

-- CreateEnum
CREATE TYPE "NoteType" AS ENUM ('DAILY', 'WEEKLY');

-- CreateEnum
CREATE TYPE "PlayType" AS ENUM ('RUN', 'PULL', 'CUDDLE', 'LICK', 'OTHER');

-- CreateEnum
CREATE TYPE "ToiletHealth" AS ENUM ('NORMAL', 'SOFT', 'HARD', 'BLOODY', 'OTHER');

-- CreateEnum
CREATE TYPE "ToiletType" AS ENUM ('ONE', 'TWO', 'BOTH');

-- CreateEnum
CREATE TYPE "TrainingStage" AS ENUM ('PUPPY', 'BASIC', 'INTERMEDIATE', 'ADVANCED', 'OTHER');

-- CreateEnum
CREATE TYPE "Weather" AS ENUM ('HOT', 'COOL', 'HUMID', 'COLD', 'NORMAL', 'RAINY', 'THUNDER');

-- CreateEnum
CREATE TYPE "gender" AS ENUM ('MALE', 'FEMALE');

-- CreateTable
CREATE TABLE "BarkLog" (
    "id" SERIAL NOT NULL,
    "dogId" INTEGER NOT NULL,
    "time" TIMESTAMP(3) NOT NULL,
    "period" "DayPeriod",
    "before" TEXT,
    "after" TEXT,
    "difficulty" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BarkLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomLog" (
    "id" SERIAL NOT NULL,
    "dogId" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "loggedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CustomLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DogNote" (
    "id" SERIAL NOT NULL,
    "dogId" INTEGER NOT NULL,
    "noteType" "NoteType" NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "comment" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DogNote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DogProfile" (
    "id" SERIAL NOT NULL,
    "ownerId" INTEGER NOT NULL,
    "dogName" TEXT NOT NULL,
    "age" INTEGER,
    "height" DOUBLE PRECISION,
    "weight" DOUBLE PRECISION,
    "breed" TEXT,
    "personality" TEXT,
    "stageOfTraining" "TrainingStage" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "gender" TEXT DEFAULT 'MALE',

    CONSTRAINT "DogProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FoodLog" (
    "id" SERIAL NOT NULL,
    "dogId" INTEGER NOT NULL,
    "mealType" "MealType" NOT NULL,
    "amountGrams" INTEGER,
    "time" TIMESTAMP(3) NOT NULL,
    "eatenAmount" "EatenAmount",
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FoodLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlayLog" (
    "id" SERIAL NOT NULL,
    "dogId" INTEGER NOT NULL,
    "minutes" INTEGER NOT NULL,
    "playType" "PlayType",
    "startedAt" TIMESTAMP(3),
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PlayLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SleepLog" (
    "id" SERIAL NOT NULL,
    "dogId" INTEGER NOT NULL,
    "durationMinutes" INTEGER NOT NULL,
    "startedAt" TIMESTAMP(3),
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SleepLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToiletLog" (
    "id" SERIAL NOT NULL,
    "dogId" INTEGER NOT NULL,
    "type" "ToiletType" NOT NULL,
    "time" TIMESTAMP(3) NOT NULL,
    "success" BOOLEAN NOT NULL,
    "health" "ToiletHealth",
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ToiletLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "userName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "hashedPassword" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WalkLog" (
    "id" SERIAL NOT NULL,
    "dogId" INTEGER NOT NULL,
    "minutes" INTEGER NOT NULL,
    "distanceKm" DOUBLE PRECISION,
    "weather" "Weather",
    "startedAt" TIMESTAMP(3),
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WalkLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- AddForeignKey
ALTER TABLE "BarkLog" ADD CONSTRAINT "BarkLog_dogId_fkey" FOREIGN KEY ("dogId") REFERENCES "DogProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomLog" ADD CONSTRAINT "CustomLog_dogId_fkey" FOREIGN KEY ("dogId") REFERENCES "DogProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DogNote" ADD CONSTRAINT "DogNote_dogId_fkey" FOREIGN KEY ("dogId") REFERENCES "DogProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DogProfile" ADD CONSTRAINT "DogProfile_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FoodLog" ADD CONSTRAINT "FoodLog_dogId_fkey" FOREIGN KEY ("dogId") REFERENCES "DogProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlayLog" ADD CONSTRAINT "PlayLog_dogId_fkey" FOREIGN KEY ("dogId") REFERENCES "DogProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SleepLog" ADD CONSTRAINT "SleepLog_dogId_fkey" FOREIGN KEY ("dogId") REFERENCES "DogProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToiletLog" ADD CONSTRAINT "ToiletLog_dogId_fkey" FOREIGN KEY ("dogId") REFERENCES "DogProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WalkLog" ADD CONSTRAINT "WalkLog_dogId_fkey" FOREIGN KEY ("dogId") REFERENCES "DogProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

